@font-face {
  font-family: satoshi;
  src: url(fonts/Satoshi-Variable.ttf);
}
@font-face {
  font-family:"Noto Sans JP" ;
  src: url(fonts/NotoSansJP-VariableFont_wght.ttf);
}
@font-face {
  font-family: BlenderPro;
  src: url(fonts/Blender\ Pro\ Bold.ttf);
}
@font-face {
  font-family: BlenderProLight;
  src: url(fonts/Blender-Pro-Book.ttf);
}
@font-face {
  font-family: Refinery-25;
  src: url(fonts/Refinery-25-Bold.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

body{
    background-color: black;
    background-image:url(img/bg.png) ;
    overflow-x: hidden;
   
    
}
header img{
    width: 100px;
    background-color: aliceblue;
}
.menu-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;


  }
  
  .menu-button {
    width: 48px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    transition: all 0.3s ease;
  }
  
  .menu-button:hover {
    transform: scale(1.05);
  }
  
  .menu-button:active {
    transform: scale(0.95);
  }
  
  .menu-button-container.open .menu-button {
    transform: rotate(90deg);
  }
  
  .hamburger-line {
    width: 33px;
    height: 2px;
    background-color:#2d9ee0;
    border-radius: 10px;
    margin: 3px 0;
    transition: all 0.3s ease;
  }
  
  .menu-button-container.open .line-1 {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .menu-button-container.open .line-2 {
    opacity: 0;
  }
  
  .menu-button-container.open .line-3 {
    transform: rotate(-45deg) translate(5px, -6px);
  }
  
  .menu-text {
    color: #1EAEDB;
    font-family:YakuHanJP, "Teko", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

    font-weight: bolder;
    font-size: 13px;
    margin-top: 8px;
    transition: all 0.3s ease;
  }
  
  .menu-button-container:hover .menu-text {
    opacity: 0.8;
  }

  nav{
    
    width: 100%;
    position: fixed;
    z-index: 1;
    
    
    
    
  }
  nav::before{
    
      /* background: linear-gradient(180deg, rgba(0, 0, 0, .65), transparent); */
      content: "";
      display: block;
      height: 117px;
      left: 0;
      opacity: 0.8;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity .2s;
      width: 100%;
      will-change: opacity;
  
  }
  .scrolled::before{
     background: linear-gradient(180deg, rgba(0, 0, 0, .65), transparent);
  }
  .menuBlock{
    margin-top: 15px;
    justify-self: flex-end;  
    margin-right: 13px;
  }
  .earth {
    width: 39%;
    padding: 2rem;
    
    
    
  
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .earth-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
  }

  

  .info {
    margin-top: 2rem;
    color: #94a3b8;
  }
  main{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    gap: 40px;
    
    
    /* background-image: url(img/bg_deco-02.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: left center; */
  }

  .text {
    
    width: 55%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 22px;
  
    font-family: BlenderProLight, "Teko", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    
  }
  .text h1{
    color: #1EAEDB;

    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: bold;
    font-family:BlenderPro ;
  }
  
  .text p,h3{
    color:white;
    margin-left: 30px;
    
  }
  .text p{
    line-height: 1.7;
    font-size: 1.4rem;
    margin-top: 20px;
    text-align: justify;
    width: 90%;
    
  }
  .outlined_button{
    align-items: center;
    color: #1EAEDB;
    display: flex;
    font-family: BlenderPro, sans-serif;
    font-size: 22px;
    justify-content: center;
    min-width: 252px;
    padding: 15px 40px 15px 35px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 9px;
    cursor: pointer;
    z-index: 2;
    
  }
  .outlined_button:hover{
    color: #000;
    z-index: 3;
    transition: all 0.5s ease;
  }
  
  .outlined_button .fancyButton{
    position: absolute;
    left: 14px;
    top: 2px;
    z-index: -1;
    transition: all 0.5s ease;
  }
  .outlined_button_more {
    margin-left: 0;
    margin-bottom: 10px;
    
  }
  .outlined_button_more .fancyButton{
    left: 12px;
  }
  
  #about{
    
    height: 200vh;
    background-color: #1EAEDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .line_top {
      background-image: url(img/newLine.svg);
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 130%;
      height: 4vh;
      width: 100%;      
    }
    .ham-lines{
      background-color: black;
    }
    .newMenuText{
      color: black;
    }
    #first_title{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    h4{
      display: block;
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
      margin-top: 70px;
      
    }
    #first_title h4{
      border-bottom: 1.3px solid #000;
      display: inline-block;
      color: #000;
      font-family: BlenderPro, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      padding-bottom: 8.5px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
    
    }
    #first_title h4::after{
      border-top: 1.3px solid #000;
      bottom: -9px;
      content: "";
      height: 17px;
      right: -20px;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 17px;
      
    }
    .first_header_about{
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
    }
    #about .first_header_about{
      color: #000;
      font-family: Refinery-25, sans-serif;
      font-size: 96px;
      font-style: normal;
      font-weight: 600;
      margin: 30px 0;
      position: relative;
      text-align: center;
      text-shadow: 1px 1px 0 #1EAEDB, -1px -1px 0 #c362c0;
      text-transform: uppercase;
    }
    #aboutMain{
      width: 95%;
      margin:auto ;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 60%;
      
      
    }
    /* #aboutContext{
      width: 45%;
      height: 100%;
      
      position: relative;
    }
    #aboutContext::before{
      content: "";
      position: absolute;
      top: -8px;
      left: 0px;
      width: 100%;
      height: 8px;
      background: url(img/frame_about_top.png) center top / contain repeat;
      
    }
    #aboutContext #head{
      position: relative;
      box-sizing: border-box;
      text-align: left;
      padding: 16px 22px 24px;
      background: url(img/frame_about_repeat.png) center top;
      border-left: 1px solid rgb(157, 96, 103);
      border-right: 1px solid rgb(157, 96, 103);
    }
    #aboutContext #head::before{
      content: "";
      opacity: 0;
      position: absolute;
      top: -5px;
      left: 0px;
      width: 100%;
      height: 162px;
      background: rgba(0, 0, 0, 0.2)

    }
    #areaTop p{
      position: relative;
      padding-left: 5px;
      color: rgb(196, 106, 118);
      font-weight: 500;
      font-size: 13px;
      font-family: Oswald, sans-serif;
      letter-spacing: 0.1em;
    }
    #areaTop::before{
      content: "";
      position: absolute;
      bottom: 20px;
      left: 22px;
      width: 100%;
      height: 14px;
      background: url(img/line_about.png) left top / contain no-repeat;
      
    } */
    #AboutContext{
      height: 100%;
      width: 45%;
      background-color: #000;
    }
    #description{
      display: flex;
      flex-direction: column;
      
      gap: 20px;
     
    }
    .about_description{
      color: #000;
      font-size: 23px;
      font-style: normal;
      line-height: 130%;
      max-width: 866px;
      text-align: center;
      font-family:BlenderProLight;
      padding: 10px;
      
      
      
    }
    .aboutMore_con {
      border: 10px solid;
      border-image-source: url(img/border.svg); 
      border-image-slice: 20; 
      border-image-repeat: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 500px;
      width: 70%;
      margin-top: 40px;
    }

    .about_more{
      background-color: #000;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-around;
      
    }
    .about_more p{
      color: white;
      font-size: 20px;

      

    }

    .header_about{
      font-family: Refinery-25, sans-serif;
      font-size: 40px;
      margin-top: var(--section-title-space);
      position: relative;
      color: white;
      align-self: flex-end;
      margin-right: 50px;
      margin-top: 20px;
      letter-spacing: 1px;
     
    }
    @media (max-width:1300px) {
      .text h1{
        font-size: 3rem;
        letter-spacing: 3px;
        font-weight: bold;
        font-family:BlenderPro ;
      }
      .earth{
        width: 45%
      }
    
    }
    @media (max-width:1050px) {
      .text{
        
        width: 60%;
      }
      .text h1{
        color: #1EAEDB;
        font-size: 2.3rem;
        letter-spacing: 4px;
        font-weight: bold;
        font-family:BlenderPro ;
      }
      .text h1 img{
        width: 70px;
      }

      .text p{
        color:white;
       
        font-size: 1.3rem;
        
      }
      .text h3{
        font-size:1.7rem;
      }
    }
    @media (max-width:926px) {
      .earth{
        display: none;
      }
      main{
        justify-content: center;
        align-items: center;
      }

      .text{
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 0;
      
        
      }
      .text h1{
        font-size: 3.4rem;
        
      }
      .text h3{
        font-size: 2.7rem;
        margin-left: 0;
      }
      .text p{
        font-size: 1.4rem;
        text-align: center;
        margin-left: 0;
      }
      .text .outlined_button{
        margin-left: 0;
      }
    }
    @media (max-width:754px) {
      .text h1{
        font-size: 2.5rem;
        margin-right: 7px;
        
      }
      .text h1 img{
        width: 50px;
        
      }
      .text h3{
        font-size: 2.2rem;
      }
      .text p{
        font-size: 1.3rem;
        text-align: center;
      }
      #about .first_header_about{
        font-size: 70px;
      }
      .about_description{
        font-size: 1.2rem;
        max-width: 660px;
      
      }
    }
    @media (max-width:574px) {
      .text{
        width: 100%;
      }
      .text h1{
        font-size: 2rem;
        
      }
      .text h3{
        font-size: 1.7rem;
      }
      .text p{
        font-size: 1.5rem;
        text-align: center;
      }
      .about_more p{
        font-size: 17px;
      }
      .aboutMore_con{
        width: 80%;
      }
      .header_about{
        align-self: center;
        margin-right: 0;
      }
    
    }
    @media (max-width:406px) {
      .text h1{
        margin-top: 15px;
        margin-right: 0;
        width: 100%;
       
      }
      .text h1 img{
        display: block;
        margin: auto;
    }
    .text h1{
      font-size: 2rem;
      
    }
    .text h3{
      font-size: 1.3rem;
    }
    .text p{
      font-size: 1.2rem;
      text-align: center;
    }
    .outlined_button_more{
      font-size: 13px;
    }
    .outlined_button_more .fancyButton{
      left: 60px;
      top: 9px;
    }
  }
    

